@mixin animated-glow-mask() {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 25%,
    black 75%,
    transparent 100%
  );
  mask-size: 200% 100%;

  animation: skeleton-effect-wave 1s infinite linear;

  @keyframes skeleton-effect-wave {
    0% {
      mask-position: 50% top;
    }
    100% {
      mask-position: -150% top;
    }
  }
}

.animated-glow-mask {
  @include animated-glow-mask();
}

.loadable-text {
  color: transparent !important;
  background-color: #e0e0e0;
  border-radius: 8px;

  @include animated-glow-mask();
}
