@use "sass:map";
@use "~gridlex/src/gridlex-vars.scss";

@mixin breakpoint-by-name($bp) {
  @media (gridlex-vars.$gl-mq-width: map.get(gridlex-vars.$gl-mq-list, $bp)) {
    @content;
  }
}

@mixin breakpoint-by-width($bp) {
  @media (gridlex-vars.$gl-mq-width: $bp) {
    @content;
  }
}
