@use "sass:map";
@use "sass:math";
@use "../styles/mixins.scss";
@use "../styles/vars.scss";

.card {
  @include mixins.breakpoint-by-name(xs) {
    max-width: map.get(vars.$mq-list, xs) * math.div(2, 5);
  }
}
