@use "sass:map";
@use "sass:math";
@use "./styles/vars.scss";
@use "./styles/mixins.scss";

.basket-details {
  flex-basis: math.percentage(0.50);
  max-width: math.percentage(0.50);

  @include mixins.breakpoint-by-name(lg) {
    flex-basis: math.percentage(0.50);
    max-width: math.percentage(0.50);
  }

  @include mixins.breakpoint-by-name(md) {
    flex-basis: math.percentage(0.60);
    max-width: math.percentage(0.60);
  }

  $sm: map.get(vars.$mq-list, sm);
  $xs: map.get(vars.$mq-list, xs);

  @include mixins.breakpoint-by-width($xs + math.div($sm - $xs, 2)) {
    flex-basis: math.percentage(0.70);
    max-width: math.percentage(0.70);
  }

  @include mixins.breakpoint-by-width(math.div($xs, 1.25)) {
    flex-basis: math.percentage(0.90);
    max-width: math.percentage(0.90);
  }
}
